<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        {% for order in order_list %}
            <li>
                {{ order.customer_name }}<br> 
                {{ order.date }}<br>
                {{ order.quantity }}<br>
                {{ order.album_name }}<br>

            </li>
        {% endfor %}
    </ul>
</body>
</html>